[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fhirpy = "*"
jupyter = "*"
funcy = "*"
fhirpathpy = {ref = "issues-24", git = "git+https://github.com/beda-software/fhirpath-py.git"}

[dev-packages]

[requires]
python_version = "3.11"
