{ns     config
 import #{aidbox
          aidbox.config
          hl7-fhir-r4-core}

 db-config
 {:zen/tags #{aidbox.config/db}
  :pool     {:connection-timeout  30000
             :idle-timeout        1000
             :minimum-idle        2
             :maximum-pool-size   30
             :connection-init-sql "SELECT 1"}

  :database #env PGDATABASE
  :host     #env PGHOST
  :port     #env PGPORT
  :user     #env PGUSER
  :password #env PGPASSWORD}

 web-config
 {:zen/tags              #{aidbox.config/web}
  :base-url              #env AIDBOX_BASE_URL
  :port                  #env-integer AIDBOX_PORT
  :thread                8
  :max-body              10000000
  :request-save-raw-body false}

 search-config
 {:zen/tags         #{aidbox.config/search}
  :zen-fhir         :enable
  :fhir-comparisons true
  :default-params   {:timeout 30
                     :total   "none"
                     :count   100}
  :chain            {:subselect true}}

 compatibility-config
 {:zen/tags   #{aidbox.config/compatibility}
  :validation {:json-schema {:regex #{:fhir-datetime}}}
  :auth       {:pkce {:code-challenge {:s256 {:conformant true}}}}}

 auth
 {:zen/tags       #{aidbox.config/auth}
  :login-redirect "/ui/console"
  :keys {:secret #env BOX_AUTH_KEYS_SECRET
         :private #env BOX_AUTH_KEYS_PRIVATE
         :public #env BOX_AUTH_KEYS_PUBLIC}}

 metrics
 {:zen/tags #{aidbox.config/metrics}
  :port #env BOX_METRICS_PORT}

 features
 {:zen/tags #{aidbox.config/features}
  :validation {:mode "fhir-schema"}}

 base-config
 {:zen/tags                #{aidbox.config/config}
  :validate-binding-url    "https://tx.dev.hl7.org.au/fhir/ValueSet/$validate-code"
  :web                     web-config
  :db                      db-config
  :search                  search-config
  :compatibility           compatibility-config
  :auth                    auth
  :metrics                 metrics

  :aidbox-license #env AIDBOX_LICENSE

  :fhir-version            "4.0.1"
  :features                features
  :fhir-packages           "hl7.fhir.au.core#0.3.0-ballot"
  :compliant-mode-enabled? true
  :override-createdat-url  "http://fhir.aidbox.app/extension/createdat"
  :correct-aidbox-format   true
  :dev-mode                #env-boolean AIDBOX_DEV_MODE
  :stdout-pretty           true
  :disable-legacy-seed     true}

 admin-user-seed
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:User {:admin
          {:password #env AIDBOX_ADMIN_PASSWORD}}

   :AccessPolicy {:allow-admin-user
                  {:engine "allow"
                   :link   [{:resourceType "User" :id "admin"}]}}}}
 root-client-seed
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:Client {:root
            {:name        "Root client"
             :secret      #env AIDBOX_CLIENT_SECRET
             :first_party true
             :grant_types ["basic"]}}

   :AccessPolicy {:allow-root-client
                  {:engine "allow"
                   :link   [{:resourceType "Client" :id "root"}]}}}}
 demo-data-seed
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :files ["seeds-data.ndjson.gz"]}

 public-access
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:AccessPolicy {:allow-any-user {:engine "allow"}}}}}

