{ns system
 import #{aidbox
          aidbox.rest
          aidbox.search-parameter.v1
          aidbox.repository.v1
          hl7-fhir-au-core
          zen.fhir}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "AU Core"
  :services {:public-access public-access}}

 public-access
 {:zen/tags #{aidbox/service}
  :engine   aidbox/seed-v2
  :resources
  {:AccessPolicy {:allow-any-user {:engine "allow"}}}}}
