body.login-page .form-group:nth-of-type(1)::after {
    content: "Use: admin";
    display: block;
    margin-top: 4px;
    color: grey;
    font-size: 14px;
}

body.login-page .form-group:nth-of-type(2)::after {
    content: "Use: password";
    display: block;
    margin-top: 4px;
    color: grey;
    font-size: 14px;
}
